@import "reset.css";
@import "component/navbar.css";
@import "component/main/main.css";
@import "font/font.css";
@import "component/main/product.css";




* {
  scroll-behavior: smooth;
}
body{
  max-width: 100%;
  overflow-x : hidden;
}

