.main-story {
  width: 100%;
  height: 1550px;
  background-color: white;
  font-family: "sangsangRock";
  background-image: url("../../../images/storyimage.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#story-section {
  width: 50%;
}

#big-title {
  font-family: "sangsangRock";
  display: block;
  padding-top: 30px;
  font-size: 120px;
  text-align: right;
  padding-right: 100px;
  padding-bottom: 100px;
}

#big-title2 {
  font-family: "sangsangRock";
  display: block;
  padding-top: 50px;
  font-size: 100px;
  text-align: right;
  padding-right: 100px;
  text-align: right;
  width: 100%;
}

#small-title {
  padding-top: 20px;
  margin-top: 50px;
  width: 100%;
  display: block;
  font-size: 40px;
  padding-left: 10px;
  margin-left: 20px;
}

#Content {
  margin-top: 20px;
  padding-left: 10px;
  font-size: 20px;
  line-height: 160%;
  margin-left: 20px;
}
