.main-members {
  display: flex;
  width: 100%;
  height: auto;
  background: linear-gradient(to left bottom, grey, white);
  border: 0.5px solid white;
  flex-wrap: wrap;
}

.membersList {
  display: flex;
  margin: 130px 100px;
  padding: 0 50px;
  text-align: center;
  line-height: 40px;
  width: 100%;
}

.memberList-column {
  padding: 0 30px;
  margin: auto;
  font-family: "sangsangRock";
  width: 20%;
}
.profileImage {
  width: 100%;
  height: auto;
  border-radius: 200px;
  border: 3px solid #dcdcdc;
  padding: 2px;
}

.profileImage:hover {
  transform: scale(1.2);
  transition: all 1s ease-in-out;
}

.role {
  color: #3a3845;
  font-size: 20px;
}

.memberName {
  font-size: 30px;
  margin-top: 20px;
}
