.main-first {
  display: flex;
  justify-content: right;
  text-align: right;
  width: 100%;
  height: 1000px;
  background-color: mintcream;
  background-image: url("../../../images/mainimage4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  margin-top: 100px;
  padding-top: 50px;
}

.main-first h1 {
  font-family: "sangsangRock";
  font-size: 150px;
  color: #eb4646;
  text-shadow: 3px 3px 3px gray;
  margin-right: 50px;
}

.main-first p {
  font-family: "sangsangRock";
  font-size: 50px;
  margin-right: 50px;
}
